.title-grid {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  padding-bottom: 150px;

  .title-text {
    padding-top: 150px;
    opacity: .7;
  }
  
  .title-text h1 {
    font-size: 60px;
  }
  
  .title-text p {
    font-size: 40px;
  }
}





.scroll {
  padding-top: 120px;
  font-size: 40px;
}

.bounce {
  animation: bounce 2s infinite;
  color: #fff;
}

.bounce i{
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
