.social-links {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.social-links i {
  color: #fff;
  font-size: 60px;
}


.scroll {
  padding-top: 140px;
  font-size: 40px;
}

.bounce {
  animation: bounce 2s infinite;
  color: #fff;
}

.bounce i{
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
