.works {
  background: #659999;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 900px;
  width: 100%;
  padding-bottom: 250px;
}

.work-app{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  
}

.apps {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin: auto;
}


.app-image {
  height: 240px;
  width: 300px;
 
  border: 7px solid #f9f8eb;
  border-radius: 40px;
  margin-top: 50px;
}


.apps .mask {
  color: #ff5959;
  font-weight: bold;
  width:		96%;
	height:		95%;
	position:		absolute;
	top: 0;
  left:	0;
  right: 0;
  bottom: 0;
	background-color:	rgba(248, 248, 248, 0.904);
	-webkit-transition:	all 0.8s ease;
	transition:		all 0.8s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
  transform:		scale(0);
  border: 7px solid #ff5959;
  border-radius: 40px;
}


.apps:hover .mask{
  -webkit-transform: scale(1);	/* 大きさを１にして表示する */
	transform: scale(1);
} 
