.header {
  background: #0B486B;  
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  
  background: linear-gradient(to right, #F56217, #0B486B); 
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .9;
}



