.header {
  background: #0B486B;  
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  
  background: linear-gradient(to right, #F56217, #0B486B); 
  position: fixed;
  top: 0;
  left: 0;
  opacity: .9;
}

h2 {
  margin-top: 0 !important;
}

a {
  cursor: pointer;
}

.navigation > .active {
  border-bottom: 2px solid #fff;
}
